{% extends 'movies/base.html' %}
{% load static %}
{% block title %} {{ author.name }} {% endblock title %}
{% block container %}
    <div class="container py-md-3">
{% endblock container %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block book %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ author.image.url }}" class="img-fluid" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent">
                    {{ author.name }}
                </h3>
                <h5 class="editContent"></h5>
                <ul>
                    <li>
                        <span><b>Вік:</b> {{ author.age }} років</span></li>
                    <li>
                        <span><b>Автор:</b>
                            {% for book in author.books_written.all %}
                                {{ book.title }}
                            {% endfor %}
                        </span>
                    </li>
                    <li><span><b>У книгах:</b>
                        {% for book in author.books_contributed.all %}
                            {{ book.title }}
                        {% endfor %}
                    </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            <h3 class="shop-sing editContent">
                Про {{ author.name }}
            </h3>
            <p class="editContent">
                {{ author.description|safe }}
            </p>
        </div>
    </div>
{% endblock book %}
</div>
</div>