{% extends 'base.html' %}

{% block content %}
    <h1>Список книг</h1>

    {% for book in books %}
        <div class="book">
            <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" width="150px" height="200px">
            <h2>{{ book.title }}</h2>
            <p><strong>Автори:</strong> {{ book.author.all|join:", " }}</p>
            <p><strong>Жанри:</strong> {{ book.genre.all|join:", " }}</p>
            <p>{{ book.description|slice:":200" }}...</p>
            <a href="{% url 'movie_detail' book.id %}">Детальніше</a>
        </div>
    {% endfor %}

{% endblock %}
